/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    
  }

  /* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
    .banermiddle{
        background-position-y: 100px;
    }
    .image{
      width:50%;
      height: 270px;
  }
  .image img{
     width: 60%;
      
  }
  .abo{
    width: 190%;
  }
  .abo p{
    margin-top: 35px;
    text-align: justify;
  }
  .about .h1 {
      font-size: 45px;
      
    }
    .about .h11{
      
      font-size: 40px;
    }
    .about h3{
      
      font-size: 30px;
    }
    
  }


  /* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .topban{
    margin-bottom: 5%;
  }  
  
  .image{
        width:50%;
        height: 280px;
    }
    .image img{
       width: 70%;
        
    }
    .abo{
      width: 190%;
    }
    .abo p{
      margin-top: 35px;
      text-align: justify;
    }
    .about .h1 {
        font-size: 45px;
        
      }
      .about .h11{
        
        font-size: 40px;
      }
      .about h3{
        
        font-size: 30px;
      }
    
    .banermiddle{
        background-position-y: 100px;
    }
    .img{
      height: 325px;
    }
    .banermiddle{
      margin-bottom: 0%;
    }
    
  }

  /* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */


}



/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .topban{
    margin-bottom: 5%;
  }
  
  .image{
    width:50%;
    height: 280px;
}
.image img{
   width: 82%;
   margin-left: 0%;
    
}
.abo{
  width: 190%;
}
.abo p{
  margin-top: 35px;
  text-align: justify;
}
.about .h1 {
    font-size: 38px;
    
  }
  .about .h11{
    
    font-size: 25px;
  }
  .about h3{
    
    font-size: 25px;
  }
  .img {
    width: 50%;
    padding-left: 0%;
    height: 250px;
  }
  .img img{
    width: 90%;
  }
  .dream {
    font-size: 35px;
  }
  .become {
    font-size: 20px;
  }
 .web p{
   margin-right: 0%;
   text-align: justify;
 }
  .banermiddle{
    background-position-y: 0px;
    margin-bottom: 5%;
  }
  .exarea{
    background-position-y:60% ;
  }
  .exarea .hh1 {
    font-size: 35px;
  }

  .another{
    display: block;
  }
  .ex1,.ex2{
    width: 75%;
  }
  .ex1 h1, .ex2 h1 {
    font-size: 32px;
  }


}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .topban .another{
    margin-bottom: 10%;
  }
  .topban .about,.topban .image,.web{
    width: 50%;
  }
  .h1{
    font-size:28px ;
  }
  .h11{
    font-size: 23px;
  }
  .about h3 {
    font-size: 22px;
  }
  .about p{
    width: 190%;
    text-align: justify;
    margin-right: 2%;
  }
  .image{
    height: 220px;
  }
  .image img{
    width: 80%;
    margin-left: 0%;
    margin-top: 15%;
  }
  .img {
    width: 50%;
    padding-left: 0%;
    height: 200px;
  }
  .img img {
    width: 85%;
    padding: 3%;
  }
  .dream {
    font-size: 32px;
  }
  .become {
    font-size: 20px;
  }
  .web p {
    width: 190%;
    margin-left: -95%;
    text-align: justify;
    margin-top: 20%;
  }
  .banermiddle{
    background-position-y: 50px;
  }
  .hireme2{
    margin-left: -50%;
  }
  .banermiddle{
    margin-bottom: 50px;
  }
  .exarea .hh1 {
    font-size: 35px;
    margin-left: 15px;
  }

  .exarea {
    background-position-y: 57%;
  }
  .exarea .hh1 {
    font-size: 35px;
  }

  .another{
    display: block;
  }
  .ex1,.ex2{
    width: 70%;
  }
  .ex1 h1, .ex2 h1 {
    font-size: 20px;
  }
  .ex1 h2,.ex2 h2{
    font-size: 18px;
  }
  .ex1 p, .ex2 p {
    font-size: 15px;
    line-height: 22px;
  }

  }


  