body{
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}
.h1{
    font-size: 50px;
}
.h11{
    font-size: 40px;
}
.name{
    color: #FBA500;
}
.section{
    display: flex;
    margin-bottom: 100px;
}
.about{
    width: 50%;
    padding-left: 6%;
}
.about h3{
    font-size: 30px;
}
.about p{
    color: dimgray;
    line-height:20px ;
    font-size: 19px;
}
.image img{
    width: 75%;
    margin-left: 100px;

}
.hireme{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 8px 30px;
    color: white;
    font-weight: 600;
    border-radius: 5%;
}
.topban{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.banermiddle{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-position-y: 210px; 
}
.dream{
    font-size: 50px;
}
.become{
    font-size: 25px;
}
.img{
    width: 53%;
    padding-left: 3%;
}
.img img{
    width: 75%;
    padding: 5%;
}
.web{
    width: 47%;
}
.web p{
    margin-right: 118px;
    line-height: 25px;
    color: #696969;
    font-size: 18px;
}
.exarea .hh1{
    font-size: 50px;
    margin-left: 50px;
    font-weight: 600;
}
.ex1, .ex2{
    width: 45%;
    margin-left: 5%;
    margin-right: 3%;
    box-shadow:10px 10px 40px gray ;
    border-radius: 10px;
    margin-top: 25px;
    padding: 0px 30px 45px 30px;
}
.ex1{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(49, 204, 19), rgb(185, 214, 18));
    border-image-slice: 1;
}
.ex2{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
.ex1 h1,.ex2 h1{
    font-size: 40px;
}
.ex1 p,.ex2 p{
    font-size: 20px;
    line-height: 25px;
    color: dimgray;
}
.exarea{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 255px;
}
footer p{
    text-align: center;
    color: #696969;
}
